@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
    <body onload=initialise()>
        @*<canvas id="gameCanvas" width="578" height="400"></canvas>*@
        <script>
            function initialise() {
                //var canvas = document.getElementById('gameCanvas');
                var canvas = document.createElement('canvas');
                canvas.setAttribute("width", "578");
                canvas.setAttribute("height", "400");
                var body = document.body;
                body.appendChild(canvas);
                var context = canvas.getContext('2d');
                var x = 10;
                var y = 30;
                var width = 600;
                var height = 200;
                var imageObj = new Image();

                imageObj.onload = function() {
                    context.drawImage(imageObj, x, y, width, height);
                };
                canvas.addEventListener("mousedown", doMouseDown, false);
                imageObj.src = 'http://images.fastcompany.com/upload/NP_GameBoard.jpg';
            }

            function doMouseDown(event) {
                var canvasX = event.pageX,
                    canvasY = event.pageY;
                drawPin(canvasX, canvasY);
            }

            function drawPin(canvasX, canvasY) {
                var canvas = document.createElement('canvas');
                canvas.setAttribute("width", "50");
                canvas.setAttribute("height", "50");
                canvas.setAttribute("style", "position:absolute;left:" + canvasX + "px; top:" + canvasY + "px;");
                var ctx = canvas.getContext('2d');
                var body = document.body;
                body.appendChild(canvas);
                var img = new Image();
                img.src = '../../Images/walking.png';
                img.onload = function() {
                    ctx.drawImage(img, 0, 0,50,50);               
                };
            }
        </script>
        <div>
            <input type="button" value="Upload background" />
            <input type="button" value="Save" />
            <select>
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select>
        </div>
    </body>
</html>
