@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
    <body onload=initialise()>
        <canvas id="gameCanvas" width="578" height="400"></canvas>
        <script>
            function initialise() {
                var canvas = document.getElementById('gameCanvas');
                var context = canvas.getContext('2d');
                var x = 10;
                var y = 30;
                var width = 600;
                var height = 200;
                var imageObj = new Image();

                imageObj.onload = function() {
                    context.drawImage(imageObj, x, y, width, height);
                };
                canvas.addEventListener("mousedown", doMouseDown, false);
                imageObj.src = 'http://images.fastcompany.com/upload/NP_GameBoard.jpg';
            }

            function doMouseDown(event) {
                var canvasX = event.pageX,
                    canvasY = event.pageX;

                alert("X=" + canvasX + "Y= " + canvasY);
            }
        </script>
        <div>
            <input type="button" value="Upload background" />
            <input type="button" value="Save" />
            <select>
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select>
        </div>
    </body>
</html>
