@model IEnumerable<EducateMe4.Entities.Question>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="..\..\Scripts\jquery-1.10.2.js"></script>
    <title></title>
</head>
    <body onload=initialise()>
        <script>
            function initialise() {
                var canvas = document.createElement('canvas');
                canvas.setAttribute("width", "578");
                canvas.setAttribute("height", "600");
                var body = document.body;
                body.insertBefore(canvas, body.firstChild);
                var context = canvas.getContext('2d');
                var x = 10;
                var y = 30;
                var width = 578;
                var height = 600;
                var imageObj = new Image();

                imageObj.onload = function() {
                    context.drawImage(imageObj, x, y, width, height);
                };
                canvas.addEventListener("mousedown", doMouseDown, false);
                imageObj.src = 'http://images.fastcompany.com/upload/NP_GameBoard.jpg';
            }

            function doMouseDown(event) {
                var canvasX = event.pageX,
                    canvasY = event.pageY;
                drawPin(canvasX, canvasY);
            }

            var count = 1;
            var thumbData = [];
            function drawPin(canvasX, canvasY) {
                var canvas = document.createElement('canvas');
                canvas.setAttribute("width", "50");
                canvas.setAttribute("height", "50");
                canvas.setAttribute("style", "position:absolute;left:" + canvasX + "px; top:" + canvasY + "px;");
                var ctx = canvas.getContext('2d');
                var body = document.body;
                body.appendChild(canvas);
                ctx.font = "20px Georgia";
                ctx.fillText(count, 1, 15);
                var img = new Image();
                img.src = '../../Images/walking.png';
                img.onload = function() {
                    ctx.drawImage(img, 0, 0,50,50);               
                };
                thumbData.push({
                    step: count,
                    x: canvasX,
                    y: canvasY
                });
                count++;
            }

            function addQuestion(id, name) {

                var div = document.createElement("div");
                var chooseDiv = document.getElementById('questionaryDiv');

                var label = document.createElement("label");
                label.innerHTML = name;
                var select = document.createElement("select");
                select.setAttribute("id", id);
                chooseDiv.appendChild(div);
                div.appendChild(label);
                
                for (var i = 1; i < count; i++) {
                    var opt = document.createElement('option'); // create new option element
                    opt.appendChild(document.createTextNode(i));
                    opt.value = i; // set value property of opt
                    select.appendChild(opt); // add opt to end of select box (sel)
                    div.appendChild(label);
                }

                div.appendChild(select);
            }


            function submitForm() {
                
                var chooseDiv = document.getElementById('questionaryDiv').getElementsByTagName("select");
                var allSelections = [];

                for (var i = 0; i < chooseDiv.length; i++) {
                    for (var j = 0; j < thumbData.length; j++) {
                        if (thumbData[j].step == chooseDiv[i].value) {
                            allSelections.push({
                                id: chooseDiv[i].getAttribute("id"),
                                value: chooseDiv[i].value,
                                x: thumbData[j].canvasX,
                                y: thumbData[j].canvasY
                            });
                        }
                    }
                }

                $.ajax({
                    type: "POST",
                    url: "SelectedQuestions", // the method we are calling
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(thumbData)
                });
            }
        </script>
                <div id='questionaryDiv'>
                </div>
                <input type="button" onclick="submitForm()" value="Save" />
        <div>
            <input type="button" value="Upload background" />
           
            <select>
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select>
        </div>
        <div>
            @Html.Partial("Index",Model)
        </div>  
    </body>
</html>
